<div class="fluid_container">
<div class="camera_wrap camera_orange_skin" id="camera_wrap">
<div data-link="/index/0-3" data-src="/images/camera/slides/fundament-kazan.jpg">
<div class="camera_caption fadeIn slide1">
<div class="lof_camera_title">Надежные монолитные фундаменты</div>
</div>
</div>

<div data-link="/index/0-3" data-src="/images/camera/slides/fundament_pod_dom_kazan.jpg">
<div class="camera_caption fadeIn slide2">
<div class="lof_camera_title">Для домов из камня и дерева</div>
</div>
</div>

<div data-link="/index/0-3" data-src="/images/camera/slides/fundament_dlya_doma_kazan.jpg">
<div class="camera_caption fadeIn slide2">
<div class="lof_camera_title">В Казани, по Татарстану и Марий Эл</div>
</div>
</div>
</div>

<div class="clear">&nbsp;</div>

<div class="clear">
<p>&nbsp;</p>
</div>
</div>
</div>
</div>
</div>
</div>