{% extends "base_generic.html" %}

{% block content %}
<h1>Plan: {{ plan_title }}</h1>

<form id="canvas_form" action="{% url 'add_element' %}" name="{{ plan_id}}" method="POST">
    {% csrf_token %}
    <canvas id="canvas" style="border: 1px solid" width="1000" height="700"></canvas>
</form>
{% load static %}
<script type="text/javascript" src="{% static 'js/canvas.js' %}"></script>


<!-- <p{% if book_instance.is_overdue %} class="text-danger"{% endif %}>Due date: {{ book_instance.due_back }}</p>
    
  <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form> -->
{% endblock %}